﻿<!--

*{margin:0;padding:0;border:0;}
Body{
	padding: 0px;
	margin: 0px;
}

.red {
    color : red;
}

/* Global */
*{
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}

/* Unique Id For Top Menu */
#TopMenu {
	width: 200px; line-height: 24px; list-style-type: none; margin: 0px; padding: 0px; background-color: #6CA7D3;
}
#TopMenu a {
	display: block; width: 190px; padding-left: 10px;
}
#TopMenu a:link {
	color:#FFF; text-decoration:none;
}
#TopMenu a:visited {
	color:#FFF;text-decoration:none;
}
#TopMenu a:hover {
	color:#FFF;text-decoration:none;
}

#TopMenu li {
	width: 100%;
}
#TopMenu li a {
	border-bottom: 1px solid #FFF;
}
#TopMenu li a:hover{
	background:#2782BB;
}
#TopMenu li ul {
	line-height: 27px; list-style-type: none;text-align:left; display: none; width: 200; margin: 0px; padding: 0px;
}
#TopMenu li ul li{
	width: 180px; background: #F6F6F6;
}

#TopMenu li ul a{
	width: 156px;text-align:left;padding-left:24px;
}
#TopMenu li ul a:link {
	color:#666; text-decoration:none;
}
#TopMenu li ul a:visited {
	color:#666;text-decoration:none;
}
#TopMenu li ul a:hover {
	color:#FFF;text-decoration:none; background:#2782BB;
}

#TopMenu li:hover ul {
	display: block;
}
#TopMenu li.sfhover ul {
	display: block;
}
