﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Search";
}

@model  InfoTrack.SearchEngine.Application.Models.SearchResult


    
    


<div class="col-sm-8 text-left">

    <button id="search" type="button" value="Search" class="btn-default">Press to start the search</button>
    <hr />
    <div class="col-sm-pull-8 text-left">

        <div class="form-group">
            <div>
                Enter the key word:<input class="form-control" id="keyWord" value="" />
                Enter the link:<input class="form-control" id="url" value="" />
                Number of link you would like to scan:<input class="form-control" id="limit" value="100" />
            </div>
            <div>

            </div>

        </div>
            <div id="resultDiv" class="containerDiv">


            </div>
        
            <div id="wait"
                 style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
                <img id="wait-image" src='~/Images/progress-bar.gif' width="64" height="64" /><br>Loading..
            </div>

            <div>
                @RenderBody()
            </div>
        </div>
</div>  

