﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <b> Infotrack Web Api is running... </b>
            </div>
            
        </div>
    </header>
    @RenderBody()

 
</body>
</html>
